html {
    color: #0c1116;
    --white: #ffffff;
    font-family: 'PT Root UI', sans-serif;

}

body {
    margin: 0 auto;
    min-width: 972px;
    max-width: 1440px;
    background-color: #F4F7F9;
    
}



.header {
    margin: 0 auto;
    width: 1440px;
    height: 64px;
    background-color: #24292C;
    display: flex;
}

ul {
    list-style: none;
}

.menu {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 10px 140px;
}

.menu__item {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.menu__item:hover {
    color: #00A6ED;
    border-bottom: #00A6ED 1px solid;
    padding: 4px;
    transition: 0.2s;
}

.logo {
    margin: 7px 14px;
    display: inline-flex;
}

.logo__text {
    width: 59px;
    height: 23px;
    padding: 20px 15px;
    color: var(--white);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.notification {
    width: 38px;
    height: 34px;
    margin: 9px 29px 20px;
}

.user {
    display: flex;
}

.user__logo {
    width: 40px;
    height: 40px;
    margin: 12px 0;
}

.user__name {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    padding: 24px 20px;
}

.user__var {
    width: 8px;
    height: 4px;
    margin: 29px;
}

.content {
    margin: 0 144px;
}

.title {
    padding: 32px 0;
    display: flex;
}

.title__text {
    font-family: 'PT Root UI', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #0C1116;
}

.update {
    width: 127px;
    height: 40px;
    border: solid 1px #CDDBE4;
    border-radius: 12px;
    margin-left: 900px;
    background-color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'PT Root UI', sans-serif;
    padding: 8px 20px 8px 48px;
    background-image: url(../img/Vector\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 22px;
}

table {
    background-color: var(--white);
    width: 1150px;
    border: 1px solid #DDE7EC;
    border-radius: 24px;
    margin-bottom: 50px;
    cursor: pointer;
}

.thead {
    background-color: #F8FBFC;
    height: 87px;
    text-align: left;
}

.radius1 {
    border-top-left-radius: 24px;
}

.radius2 {
    border-top-right-radius: 24px;
}

.radius3 {
    border-end-end-radius: 24px;
}

label {
    font-family: 'PT Root UI', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin: 15px 0 0 33px;
    color: #0C1116;
}

.img_app {
    width: 112px;
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    background-position: right;
}

.img_prior {
    width: 87px;
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    background-position: right;
}

input {
    height: 32px;
    margin: 8px 0 16px 33px;
    border-radius: 8px;
    border: 1px solid #F3F7F9;
    box-shadow: 0 0 1px 0 #00628CB2, 0 10px 20px 0 #0017210A, 0 6px 12px 0 #0017210A, 0 3px 6px 0 #0017210A;
    background-image: url(../img/Path\ 2383.png);
    background-repeat: no-repeat;
    background-position: 11px;
    background-color: var(--white);
    justify-content: space-evenly;
    cursor: pointer;
}

.thead__Application {
    width: 112px;
}

.thead__Title {
    width: 208px;
}

.thead__Date {
    width: 136px;
    background-image: url(../img/ic_date_range_24px.png);
}

.thead__Contractor {
    width: 208px;
}

.thead__Priority {
    width: 87px;
}

.thead__Status {
    width: 159px;
    margin-right: 49px;
}

.tbody {
    background-color: var(--white);
    text-align: right;
}

td {
    border-top: 1px solid #DDE7EC;
    padding: 8px 0;
}

.text__right {
    text-align: left;
    padding-left: 33px;
   
}
.mask{
     background-image: url(../img/Mask.png);
    background-repeat: no-repeat;
    background-position: 209px;
}
.mask:hover .tabl_nav{ 
background-image: url(../img/Mask2.png);
}

.yellow {
    color: #F2C94C;
}

.blue {
    color: #2D9CDB;
}

.green {
    color: #27AE60;
}

.red {
    color: #EB5757;
}

tfoot {
    height: 79px;
}

.footer {
    display: flex;
}

.page {
    margin-left: 53px;
    display: flex;
}

.page__nomber {
    margin-left: 5px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    background-color: var(--white);
   
}

.page__nomber:hover { 
    background-color: #00A6ED;
    cursor: pointer;
}

.output {
    margin-left: 800px;
}

select {
    height: 32px;
    margin: 8px 0 0 16px;
    border-radius: 8px;
    border: 1px solid #F3F7F9;
    box-shadow: 0 0 1px 0 #00628CB2, 0 3px 6px 0 #0017210A;
    background-color: var(--white);
    padding: 0 8px;
    cursor: pointer;
}
tr:hover{
    background-color: #F3F7F9;
}

 .tabl_nav{
   position: absolute;
    width: 192px;
    height: 127px;
    border-radius: 16px;
    border: 1px solid white;
    background: #FFFFFF;
box-shadow: -2px -1px 20px rgba(74, 74, 74, 0.1);
margin: 429px 0 0 1100px;
font-size: 13px;
padding: 27px 0 27px 27px;
}
.tabl__nav__item1{
    width: 130px;
    padding: 9px 0 9px 25px;
background-image: url(../img/Mask3.png);
background-repeat: no-repeat;
background-position: left;
display: inline-block;
}
.tabl__nav__item2{
    width: 130px;
    padding: 9px 0 9px 25px;
background-image: url(../img/person.png);
background-repeat: no-repeat;
background-position: left;
display: inline-block;
}
.tabl__nav__item3{
    width: 130px;
    padding: 9px 0 9px 25px;
background-image: url(../img/Mask4.png);
background-repeat: no-repeat;
background-position: left;
display: inline-block;
}
.tabl__nav__item4{
    width: 130px;
    padding: 9px 0 9px 25px;
background-image: url(../img/Mask4.png)
background-repeat: no-repeat;
background-position: left;
display: inline-block;
}